main {
  display: flex;
  gap: 3rem;
  padding: var(--section-padding);
}
main .left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0.3;
}
main .left-section button {
  background: rgba(36, 37, 46, 1);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 0.5;
  transition: 0.3s all;
}
main .left-section button:hover {
  opacity: 1;
}
main .left-section button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  border: 1px solid var(--blue);
}
main .right-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
  flex-wrap: wrap;
}
main .right-section .card {
  width: 270px;
  height: 350px;
  max-width: 99%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgba(93, 188, 252, 0.3);
  transition: 0.5s all;
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}
main .right-section .card:hover {
  border: 1px solid var(--blue);
  rotate: 1deg;
  scale: 1.01;
  cursor: pointer;
}
main .right-section .card img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
main .right-section .card .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0.4rem;
}
main .right-section .card .content h2 {
  color: var(--title);
}
main .right-section .card .content p {
  color: var(--subtitle);
  font-size: 0.8rem;
}
main .right-section .card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 15px 10px;
}
main .right-section .card .info .code {
  display: flex;
  gap: 10px;
}
main .right-section .card .info .code a {
  color: var(--subtitle);
  transition: 0.5s all;
  font-size: 1.2rem;
  cursor: pointer;
}
main .right-section .card .info .code a:hover {
  color: var(--blue);
}
main .right-section .card .info .more {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--blue);
  cursor: pointer;
}
main .right-section .card .info .more span {
}
/* start media */
@media (max-width: 1200px) {
  main .right-section {
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
  main .left-section {
    justify-content: center;
    flex-direction: row;
  }
  main .left-section button {
    flex: 1;
  }
}
@media (max-width: 570px) {
  main .left-section {
    flex-direction: column;
  }
}
/* light style */
.light main .right-section .card {
  border: none;
  -webkit-box-shadow: -1px 7px 25px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 25px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 7px 25px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid gray;
}
.light main .right-section .card:hover {
  border: none;
  border: 1px solid gray;
}
